@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

.Financiamento {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-financiamento {
	margin-bottom: 10px;
}